// COLORS
$primary-color: #ff5202;
$secondary-color: #ff8800;

$black-color: rgb(15, 15, 15);

$dark-grey: #6f6f6f;
$light-grey: #d2d2d2;
$dark-blue-text: #ffffff; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
